.resume-container-options {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 10%;
    background-color: #aca9a9;
   height: max-content;
}

.resume-container-options h2 {
    font-size: xx-large;
    margin-bottom: 20px;
    color: rgb(1, 1, 1);
    font-weight: bold;
}

.resume-options {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.resume-preview {
    width: 40%; 
    height: 35%;
    border: 2px solid #000000;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s;
}

.resume-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 !important;
}
.resume-preview img:hover {
    opacity: 0.6;
}

.buttons {
    margin-top: 20px;
}

.back-btn, .save-btn {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.back-btn {
    background-color: #ccc;
}

.save-btn {
    background-color: #007bff;
    color: white;
}

.back-btn:hover, .save-btn:hover {
    opacity: 0.8;
}

/* Responsive */
@media (max-width: 600px) {
    .resume-preview {
        width: 60%; 
        height: 60%;}
    .resume-container-options{
        height:max-content;    }
    .resume-options {
        flex-direction: column;
        align-items:center;
    }
    .resume-container-options{
        padding: 2%;
    }
        .resume-container-options h2{
            font-size: medium;
        }
}