.resume_c3_resume {
  font-family: sans-serif;
  line-height: 1.4;
  font-size: 14px;
  max-width: 900px;
  margin: 20px auto;
  border: 1px solid black;
}

.resume_c3_header {
  padding-bottom: 15px;
  padding-left: 10px;
}

.resume_c3_header h1 {
  margin: 0;
  font-size: 1.8em;
}

.resume_c3_header p {
  margin: 3px 0;
  font-size: 1em;
}

.resume_c3_contact-info {
  display: flex;
  gap: 15px;
  margin-top: 8px;
  font-size: 0.9em;
  color: rgb(52, 51, 51);
}

.resume_c3_content {
  display: grid;
  grid-template-columns: 2fr 1.2fr;
  gap: 15px;
}
.resume_c3_right-column {
  background-color: rgb(38 74 111);
  padding: 18px;
  padding-top: 38%;
  color: rgb(193, 193, 193);
}
.resume_c3_left-column {
  padding: 18px;
  padding-right: 12px;
}

.resume_c3_summary, .resume_c3_experience, .resume_c3_achievements, .resume_c3_skills, .resume_c3_education, .resume_c3_certificates {
  margin-bottom: 15px;
}

.resume_c3_summary h2, .resume_c3_experience h2, .resume_c3_achievements h2, .resume_c3_skills h2, .resume_c3_education h2, .resume_c3_certificates h2 {
  font-size: 1.2em;
  border-bottom: 1px solid white;
}

.resume_c3_job,
.resume_c3_degree,
.resume_c3_strength,
.resume_c3_certificate {
  margin-bottom: 12px;
}

.resume_c3_location {
  margin: 0;
  font-size: 0.9em;
}

.resume_c3_ul, .resume_c3_skillsul {
  padding-left: 18px;
  font-size: 0.95em;
}

.resume_c3_skills > .resume_c3_skillsul {
  padding-left: 5px !important;
  font-size: 0.95em;
  gap: 2px 25px !important;
  list-style-type: disc;
  display: flex;
  flex-wrap: wrap;
}

.resume_c3_achievement-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}.resume_c3_achievement h3{
  font-weight: bold;
}

.resume_c3_achievement {
  width: 48%;
}

.resume_c3_achievement h3 {
  font-size: 1em;
}

.resume_c3_summary h2, .resume_c3_experience h2, .resume_c3_achievements h2, .resume_c3_skills h2, .resume_c3_education h2, .resume_c3_certificates h2{
  font-weight: bold !important;
  font-size: large;
}
.resume_c3_job h3, .resume_c3_degree h3, .resume_c3_strength h3, .resume_c3_certificate h3{
  font-weight: 600;
  font-size: medium;
}
.resume_c3_right {
    float: right;
}