/* src/Resume.css */
.resume1 {
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family: 'Times New Roman', Times, serif; */
   
    width: 1000px; /* Fixed width */
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 20px;
    display: grid;
    grid-template-rows: auto 1fr;
  }
  
  .resume1-header {
    padding-bottom: 20px;
  }
  
  .resume1-contact-info {
    display: flex;
  }
  
  .resume1-contact-item {
    margin:0 10% 0 0;
    
  }
  
  .resume1-main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .resume1-main-content h2{
    font-size: larger;
    font-weight: bold;
    border-bottom: 2px solid black;
  }
  .resume1-main-content h3{
    font-size: medium;
    font-weight: bold;
  }
  
  .resume1-left-section, .resume1-right-section {
    padding: 10px;
  }
  
  /* Specific styles for each section */
  .resume1-summary, .resume1-experience, .resume1-education, .resume1-projects, .resume1-skills, .resume1-certification, .resume1-passions {
    margin-bottom: 20px;
  }
  
  .resume1-job, .resume1-edu, .resume1-project, .resume1-cert, .resume1-passion {
    margin-bottom: 15px;
  }
  .resume1_expereience_list{
    margin: 0;
   padding-left: 10px;
  }
  
  .resume1-name {
    font-size: 28px;
    margin-bottom: 5px;
  }
  
  .resume1-title {
    font-size: 16px;
    color: #555;
  }
  
  .resume1-skill-list>li {
    margin-bottom: 5px;
  }
  .resume1-skills-list{
   display: flex !important;
   flex-wrap: wrap;
  }
  .downloadbtn{
    color: white;
    background-color: rgb(0, 128, 255);
    padding: 10px;
    border-radius: 10px;
    border:4px solid black;
    margin-left: 5px;
  }
.downloadbtn:hover{
  background-color: rgb(103, 176, 248) ;
  color: black;
  
}